.filter-page {
  .filter-page-content {
    display: flex;
    height: 700px;
    .map-container {
      width: 70%;
      .info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .button {
          margin-top: 20px;
        }
      }
    }
    .filtered-tweets-container {
      width: 30%;
      padding-left: 30px;
      overflow: auto;
      .filtered-tweets {
        .tweet-item {
          margin-top: 20px;
        }
      }
    }
  }
}
