.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .home-title {
    margin: 0;
    text-align: center;
  }

  .reload-tweets {
    position: fixed;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .tweets-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 60px;

    .tweet-item {
      border: 1px solid rgb(7, 85, 158);
      border-radius: 5px;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      .tweet-content {
        flex-grow: 1;
        margin-bottom: 10px;
      }
      .tweet-time {
        align-self: flex-end;
      }
      .author-details {
        margin-bottom: 10px;
      }
    }
  }
}
